.line {
    fill: none;
    stroke-width: 1;
}

.br {
	stroke: #efce13;
}

.us {
	stroke: #377eb8;
}

.it {
	stroke: #4daf4a;
}

.es {
	stroke: #e41a1c;
}

.br-fill {
	fill: #efce13;
}

.us-fill {
	fill: #377eb8;
}

.it-fill {
	fill: #4daf4a;
}

.es-fill {
	fill: #e41a1c;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    stroke: #fff;
}

.tooltip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  visibility: hidden;
  z-index: 10;
  position: absolute;
}